#greet {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#greetclosed {
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#greet h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}