#messageBox{
    flex-grow: 0.5;
    overflow: hidden;
    margin-left:3%;
    height: fit-content;
    width: 60dvw;
}
@media (max-width: 800px){
    #messageBox{
        width: 90dvw;
    }
}
#messageBox h3{
    text-align: center;
    padding:3%;
    background-color: #fdf4fd;
}
#messages{
    height: 60dvh;
    width: 99%;
    border:3px solid #fdf4fd;
    overflow-y: scroll;
    overflow-wrap: break-word;
    word-break: keep-all
}
.userfrom, .userto {
    width: 60dvw; /* Custom unit (60% of dynamic viewport width) */
    padding: 0.5% 2%;
    border-radius: 25px;
    margin: 1%;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.userfrom {
    background-color: pink;
}

.userto {
    background-color: rgb(247, 141, 247);
}
#messages small{
    font-size: 2dvh;
    color: grey;
}

#textbox{
    border-radius: 5px;
    border: none;
    padding: 2dvh;
    background-color: #e2eafb;
    width: 40dvw;
}
#messageInput input[type=submit]{
    border-radius: 5px;
    border: none;
    padding: 2dvh;
    background-color: #ffd6ff;
}