#messageBox{
    flex-grow: 0.5;
    overflow-y: hidden;
    margin-left:3%;
}
#messageBox h3{
    text-align: center;
    padding:3%;
    background-color: #fdf4fd;
}
#messages{
    height:35%;
    width:75%;
    border:3px solid #fdf4fd;
    overflow: scroll;
}